# Разведочный анализ данных

In [1]:
import pandas as pd

## Загрузка данных и первый взгляд

In [2]:
df = pd.read_csv('hf://datasets/Nnaodeh/Framingham_Stroke_Datasets/framingham Heart Study Dataset.csv')
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [3]:
print(df.shape)
df.describe()

(4238, 16)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4238.000000,4238.000000,4133.000000,4238.000000,4209.000000,4185.000000,4238.000000,4238.000000,4238.000000,4188.000000,4238.000000,4238.000000,4219.000000,4237.000000,3850.000000,4238.000000
mean,0.429212,49.584946,1.978950,0.494101,9.003089,0.029630,0.005899,0.310524,0.025720,236.721585,132.352407,82.893464,25.802008,75.878924,81.966753,0.151958
std,0.495022,8.572160,1.019791,0.500024,11.920094,0.169584,0.076587,0.462763,0.158316,44.590334,22.038097,11.910850,4.080111,12.026596,23.959998,0.359023
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,89.875000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

## Выявление аномалий и выбросов

In [4]:
numeric_cols = [
    'age', 'cigsPerDay', 'BPMeds', 'totChol',
    'sysBP', 'diaBP', 'BMI', 'heartRate', 'glucose'
]

df_clean = df.copy()
outlier_mask = pd.Series(False, index=df_clean.index)

for col in numeric_cols:
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1

    low= q1 - 2 * iqr
    high = q3 + 2 * iqr

    col_outliers = (df_clean[col] < low) | (df_clean[col] > high)
    outlier_mask = outlier_mask | col_outliers

df_clean = df_clean[~outlier_mask]
print(df_clean.shape)
df_clean.describe()

(3892, 16)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,3892.000000,3892.000000,3794.000000,3892.000000,3865.000000,3845.0,3892.000000,3892.000000,3892.000000,3846.000000,3892.000000,3892.000000,3875.000000,3891.000000,3524.000000,3892.000000
mean,0.437821,49.172405,1.997891,0.505139,9.250194,0.0,0.003854,0.269270,0.008222,235.098804,129.871917,81.831578,25.481923,75.372398,79.042565,0.135406
std,0.496182,8.490721,1.019967,0.500038,11.996301,0.0,0.061969,0.443638,0.090313,42.029411,19.128614,10.811376,3.603368,11.436371,12.061504,0.342201
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,205.000000,116.000000,74.000000,22.985000,68.000000,71.000000,0.000000
50%,0.000000,48.000000,2.000000,1.000000,1.000000,0.0,0.000000,0.000000,0.000000,233.000000,127.000000,81.000000,25.230000,75.000000,77.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.0,0.000000,1.000000,0.000000,261.000000,141.000000,88.000000,27.780000,82.000000,85.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,60.000000,0.0,1.000000,1.000000,1.000000,373.000000,198.000000,119.000000,37.580000,112.000000,119.000000,1.000000

## Пропуски и их заполнение

In [208]:
df_clean.isnull().sum()

male                 0
age                  0
education           98
currentSmoker        0
cigsPerDay          27
BPMeds              47
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             46
sysBP                0
diaBP                0
BMI                 17
heartRate            1
glucose            368
TenYearCHD           0
dtype: int64

Тактики заполнения пропуска у признаков:
- ``education``: мода
- ``cigsPerDay``: 0 для некурящих, среднее для курящих
- ``BPMeds``: 0 при нет гипертонии, медиана при гипертонии
- ``totChol``, ``BMI``, ``heartRate``, ``glucose``: медиана

In [209]:
# education
mode_edu = df_clean['education'].mode()[0]
df_clean['education'] = df_clean['education'].fillna(mode_edu)

# cigsPerDay
mean_cigs = df_clean.loc[df_clean['currentSmoker'] == 1, 'cigsPerDay'].mean()
df_clean.loc[(df_clean['currentSmoker'] == 0) & df_clean['cigsPerDay'].isna(), 'cigsPerDay'] = 0
df_clean.loc[(df_clean['currentSmoker'] == 1) & df_clean['cigsPerDay'].isna(), 'cigsPerDay'] = mean_cigs

# BPMeds
median_bp = df_clean.loc[df_clean['prevalentHyp'] == 1, 'BPMeds'].mean()
df_clean.loc[(df_clean['prevalentHyp'] == 0) & df_clean['BPMeds'].isna(), 'BPMeds'] = 0
df_clean.loc[(df_clean['prevalentHyp'] == 1) & df_clean['BPMeds'].isna(), 'BPMeds'] = median_bp

# totChol, BMI, heartRate, glucose
for col in ['totChol', 'BMI', 'heartRate', 'glucose']:
    median_val = df_clean[col].median()
    df_clean[col] = df_clean[col].fillna(median_val)

In [210]:
print(df_clean.shape)
df_clean.head()

(3892, 16)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [211]:
import os

os.makedirs("../outputs/data/processed", exist_ok=True)
df_clean.to_csv("../outputs/data/processed/df_clean.csv", index=False)